<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.steve.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="com.steve.dao.UserDaoOracleImpl"/>
    <bean id="serviceImpl" class="com.steve.service.UserServiceImpl">
        <!--ref: 引用Spring容器中已经创建好的对象
            value: 具体的值,基本数据类型
        -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>

</beans>