<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.steve.service.UserServiceImpl"/>
    <bean id="afterLog" class="com.steve.log.AfterLog"/>
    <bean id="beforeLog" class="com.steve.log.BeforeLog"/>

    <!--切片配置-->
    <aop:config>
        <!--切入点位置-->
        <aop:pointcut id="pointCut" expression="execution(* com.steve.service.UserServiceImpl.*(..))"/>
        <!--切入点执行方法-->
        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointCut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointCut"/>
    </aop:config>

</beans>